html.dark {
  --theme-background: #030303;
  --theme-text: #FFFFFF;
  --theme-button-back: #FFFFFF;
  --theme-button-text: #000000;
  --theme-secondary-back: #1A1A1A;
}

html.light {
  --theme-background: #FFFFFF;
  --theme-text: #000000;
  --theme-button-back: #000000;
  --theme-button-text: #FFFFFF;
  --theme-secondary-back: #A0A0A0;
}

html, body {
  margin: 0;
  color: var(--theme-text);
}

a {
  text-decoration: none;
  color: var(--theme-text);
}